[submodule "extern/raylib"]
	path = extern/raylib
	url = https://github.com/raysan5/raylib.git
	branch = master
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/nlohmann/json.git
	branch = develop
